@model Photo
@{
    ViewData["Title"] = "Успішна реєстрація";
}

<h1>Вітаю! Pеєстрація пройшла успішно!</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="my.css">
</head>
<body>
    <form method="post" asp-controller="Photo">
    <label asp-for="Name"></label>

</form>
  <div class="flex">
     <div class="banner">
      <img src="img/50.jpg" alt="">
    </div>
  </div>

</body>
</html>
